:root {
	--primary-color: rgba(30, 90, 139, 0.75);
	--overlay-color: rgba(67, 78, 99, 0.85);
	--menu-speed: 0.75s;
}


section {
	padding: 3rem;
	text-align: center;
	background-color: var(--overlay-color);
	color: white;
}

.title {
	text-align: center;
}
.services { 
	display: flex;	
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-content: center;
 }
.service {
	padding: 1rem;
  width: 30%;
  border: 2px outset var(--overlay-color);
  margin: .5rem;
}



.client-info {
	margin-bottom: 1rem;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}